@font-face {
  font-family: 'Topaz';
  src: url('topaz.ttf');
}

body {
  font-family: Topaz;
  font-size: 16px; background-color: #222222; color: #DC2F02; font-weight: normal;
  line-height: 16px;
}
a { color: #F48C06; text-decoration: none; }
a:visited { color: #F48C06; }
a:hover { color: #FFBA08; }
a.down:hover { color: #FFBA08 !important; }
a#load_song, a#load, a#playlist_jumpto { color: #D00000; background: #FFBA08; padding: 2px; }
a#load_song:hover, a#load:hover, a#playlist_jumpto:hover { color: #6A040F; }

a.inactive, a.inactive:visited, a.inactive:hover { color: #6A040F; }

.tdalink { color: #000 !important; }
.tdalink:hover { color: #6A040F !important; }
.tdalink:visited { color:#000 !important; }

select, input {
  background-color: #000; color: #FAA307;
  font-family: Topaz;
  font-size: 16px;
  margin-bottom: 16px;
  border: 0px;
  outline: none; font-style: normal; font-weight: normal;
  line-height: 16px;
}
input#loadfilter {
  border: 1px solid #FFBA08;
  background-color: #000;
}
optgroup { font-family: Topaz; font-size: 16px; color: #E85D04; font-style: normal; font-weight: normal; line-height: 16px; }
option { font-family: Topaz; color: #FAA307; font-size: 16px; height: 16px; line-height: 16px; padding: 0; }
.odd { background-color: #181818; }
.even { background-color: #000; }

option:focus,
option:active,
option:checked {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 16px;
  color: #fff;
  border: 1px solid #000;
  background-color: #6A040F;
}
::-webkit-scrollbar-thumb {
  color: #fff;
  background-color: #DC2F02;
  border: 1px solid #000;
}

#outercontainer {
  width: 1176px;
  margin: 0 auto 0 auto;
  background-color: #222222;
  z-index: 1;
  position: relative;
}

#headercontainer { background-color: #D00000; color:#000; margin-bottom:8px; padding-top: 1px; padding-bottom: 1px; }

#modtitle { white-space: pre; color: #FFBA08; }
#modinfo { color: #DC2F02; }
#modtimer { color: #DC2F02; }

#modsamples { white-space:pre; float:right; margin-left:8px; color: #FAA307 }

#modpattern { white-space:pre; float:left; margin-top: 16px; height: 24.0em; overflow: hidden; color: #F48C06; }

#infotext { margin-top: 16px; color: #F48C06; }
#infotext a { color: #DC2F02 !important; }

/* #load_song { float:right; } */

#modfile { float:left; width: 480px; }
#fileinfo { width: 480px; float:left; margin-left: 0px; margin-top: 0px; color: #aae; }

#playlist_box { width: 416px; }

#musiclibrary {
  width: 500px;
  float: left;
}

#playlist {
  width: 420px;
  float: right;
}

.hl { color: #FFBA08; }
.down { color: #DC2F02 !important; }

.note { color: #DC2F02; }
.sample { color: #9D0208; }
.command { color: #FFBA08; }
.volume { color: #9D0208; }

.samplelist { background-color: #000; }
.activesample { background-color: #6A040F; color: #FFBA08; }

.currentrow { background-color: #370617; color: #FFBA08; }

.filesize { color: #444; }

.patterndata {
  height: 24.0em;
  margin-top: 0px;
  overflow: hidden;
  display: none;
}

.currentpattern {
  display: inline-block !important;
}

#modchannels {
  white-space:pre; float:left; margin-top: 16px; height: 24.0em; overflow: hidden; color: #6A040F;
  display: none;
}

#even-channels {
  width: 50%;
  float:right;
}
#odd-channels {
  width: 50%;
  float:left;
}

.channelnr { color:#DC2F02; }
.channelsample { color:#DC2F02; }

#bottomcontainer {
  position: absolute;
  top: 30%;
  left: 10em;
  right: 10em;
  text-align: center;
  border: 5px solid #DC2F02;
}
